@import "table.css";

#data {
    overflow: scroll;
}

#charts {
    max-height: 650px;
    overflow: scroll;
}

.chart {
    min-width: 300px;
    width: 96%;
    height: 600px;
    margin: 10px;
    padding: 10px;
    border: solid 1px;
    border-color: gray;
    border-radius: 10px;
}

.bayes-delete-attr:hover {
    cursor: pointer;
    z-index: 100;
}